/* ------------Global Styles------------ */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Overpass", sans-serif;
}

a,
button {
  text-decoration: none;
}

.container {
  padding: 1em 2em;
}

h1,
h2 {
  margin: 0em;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ------------Header Styles------------ */
header {
  box-shadow: 0px 2px 21px 0px rgb(227, 227, 227);
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav-arrow {
  margin-top: 1em;
  height: 10px;
}
.grid-nav-container {
  display: grid;
  grid-template-columns: 23% 54% 11.5% 11.5%;
  grid-template-rows: 50px;
}

.LOG-IN,
.SIGN-UP {
  color: rgba(231, 148, 42, 1);
  align-self: center;
  font-size: 0.7em;
}

.LOG-IN {
  text-align: left;
}
.SIGN-UP {
  text-align: right;
}

.brand-name {
  color: black;
  margin: 0 1em;
  font-size: 0.5em;
  font-weight: 900;
}

header div {
  padding: 0;
}

.profile-icon img,
.profile-icon {
  align-self: center;
  height: 2em;
  justify-self: end;
}

.logo {
  align-self: center;
}

/* ------------Drop Down Menu Styles Within Header------------ */
.navMenu a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.navMenu .dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: white;
  margin: 0;
  width: 100%;
}

.navMenu .dropdown-content {
  display: none;
}

.navMenu .dropdown-content a {
  color: #fff;
  text-decoration: none;
  background-color: white;
  color: rgb(121, 121, 121);
  font-weight: 600;
}

.navMenu .dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  justify-content: center;
  margin-top: 1em;
}

/* ------------Main Styles------------ */

main {
  height: 100vh;
}
main a {
  color: rgb(100, 100, 100);
  margin-bottom: 1rem;
}

.grid-main-container {
  display: grid;
  grid-template-columns: 8fr;
  /* height: 100vh;
  overflow: auto; */
}
.grid-main-content-container {
  position: relative;
  top: 7%;
  width: 75%;
  margin: auto;
}

.links-grid-container {
  margin-top: 7%;
  margin-bottom: 2%;
  text-align: left;
}

.links {
  margin-left: 17%;
}

.links li {
  display: inline;
  justify-content: space-between;
  padding: 1rem;
}

.content-grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top: 3%;
  column-gap: 2rem;
  margin-bottom: 2%;
}

.textTitle {
  font-size: 2rem;
  font-weight: 800;
  color: rgba(231, 148, 42, 1);
  text-align: left;
}

.textContent {
  text-align: left;
}

.textDescription {
  color: rgb(100, 100, 100);
  font-size: 0.9rem;
}

.sanitation {
  position: relative;
  top: 16%;
}

.billing {
  margin-bottom: 5%;
}

.miscTitle {
  position: relative;
  left: 10%;
}

.img3259-C61RwL {
  position: relative;
  margin-top: 5%;
  right: 5%;
  width: 45vw;
}

.miscellaneous1 {
  width: 35vw;
  position: relative;
  left: 17%;
}

.miscellaneous {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 3%;
  column-gap: 2rem;
  margin-bottom: 15%;
}

.miscText {
  position: relative;
  left: 8%;
}

/* ------------Form Styles------------ */
.email-sub h2 {
  color: white;
}
form {
  width: 100%;
  position: relative;
}

label {
  color: white;
  font-weight: 600;
  font-size: 1em;
}

input {
  margin-top: 2em;
  border-radius: 30px;
  height: 4em;
  width: 100%;
}

::placeholder {
  padding-left: 1em;
  color: rgb(192, 192, 192);
  font-size: 0.8em;
}

.submit-btn {
  background-color: rgba(231, 148, 42, 1);
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
  height: 3.4em;
  float: right;
  right: 2px;
  margin: 2em 0.5em;
  position: absolute;
  top: 12px;
  border-style: none;
  font-weight: 600;
  font-size: 0.7em;
  width: 40%;
}

input:focus {
  outline: none;
}

/* ------------Footer Styles------------ */
footer {
  line-height: 1.5em;
}

footer .brand-name {
  font-size: 1em;
}

footer a,
footer p {
  font-size: 0.75em;
  text-decoration: none;
  color: rgb(100, 100, 100);
}

@media (max-width: 425px) {
  /* ------------Main Styles------------ */
  .container1 {
    height: 87vh;
    overflow: auto;
  }
  .content-grid-container {
    display: grid;
    grid-template-columns: 2fr;
    margin-top: 3%;
    column-gap: 2rem;
    margin-bottom: 2%;
  }
  .mike-von-qw9-fr-pj70-u-unsplash-C61RwL {
    width: 90%;
    height: auto;
  }

  .grid-main-container {
    display: grid;
    grid-template-columns: 6fr;
    /* height: 100vh;
    overflow: auto; */
    text-align: center;
  }
  .grid-main-content-container {
    top: 1%;
  }
  .links-grid-container {
    font-size: 0.75rem;
  }
  .links li {
    padding: 0.3rem;
  }

  .textDescription {
    font-size: 0.7rem;
  }

  .textTitle {
    font-size: 1rem;
  }

  .blockTitle {
    font-size: 0.8rem;
  }
  .img2588-C61RwL {
    width: 100%;
    height: auto;
    margin-top: 40%;
  }
  .sanitation {
    position: relative;
    top: 10%;
  }

  .img3259-C61RwL {
    width: 100%;
    height: auto;
    right: 1%;
  }
  .miscellaneous1 {
    width: 100%;
    left: 0%;
  }
  .miscTitle {
    position: relative;
    left: 0%;
  }

  /* ------------Form Styles------------ */
  label {
    font-size: 1em;
  }

  input {
    margin-top: 2em;
    height: 4em;
  }

  .email-sub {
    background-color: black;
    padding: 3em;
  }
  ::placeholder {
    font-size: 0.6em;
  }
}
@media (min-width: 768px) {
  /* ------------Header Styles------------ */
  .grid-nav-container {
    display: grid;
    grid-template-columns: 8em 20em 4em 4em;
    justify-content: center;
  }

  .brand-name {
    font-size: 1em;
  }

  .navMenu .dropdown:hover .dropdown-content {
    grid-template-columns: 8em 8em 8em;
  }

  /* ------------Main Styles------------ */

  .container1 {
    height: 87vh;
    overflow: auto;
  }
  .mike-von-qw9-fr-pj70-u-unsplash-C61RwL {
    width: 80vw;
  }

  .grid-main-container {
    display: grid;
    grid-template-columns: 6fr;
    /* height: 100vh;
    overflow: auto; */
    text-align: center;
  }
  .grid-main-content-container {
    top: 3%;
  }
  .links-grid-container {
    font-size: 0.75rem;
  }
  .links li {
    padding: 0.3rem;
  }

  .textDescription {
    font-size: 0.7rem;
  }

  .textTitle {
    font-size: 1rem;
  }

  .blockTitle {
    font-size: 0.8rem;
  }
  .img2588-C61RwL {
    width: 35vw;
  }
  .sanitation {
    position: relative;
    top: 10%;
  }

  /* ------------Form Styles------------ */
  label {
    font-size: 2em;
  }

  input {
    margin-top: 2em;
    height: 4em;
  }

  .email-sub {
    background-color: black;
    padding: 5em;
  }
  ::placeholder {
    font-size: 1em;
  }

  /* ------------Footer Styles------------ */
  footer {
    text-align: left;
    padding: 9em;
  }
  footer .brand-name {
    margin: 0em;
    font-size: 1.5em;
  }
  .grid-footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .col-3 img {
    height: 10%;
  }
}

@media (min-width: 1024px) {
  /* ------------Main Styles------------ */
  .mike-von-qw9-fr-pj70-u-unsplash-C61RwL {
    width: 80vw;
  }

  .grid-main-container {
    display: grid;
    grid-template-columns: 6fr;
    /* height: 100vh;
    overflow: auto; */
    text-align: center;
  }
  .grid-main-content-container {
    top: 3%;
  }
  .links-grid-container {
    font-size: 0.9rem;
  }
  .links li {
    padding: 0.5rem;
  }

  .textDescription {
    font-size: 0.8rem;
  }

  .blockTitle {
    font-size: 1rem;
  }
  .img2588-C61RwL {
    width: 35vw;
  }
  .sanitation {
    position: relative;
    top: 10%;
  }
}

@media (min-width: 1440px) {
  .mike-von-qw9-fr-pj70-u-unsplash-C61RwL {
    width: 80vw;
  }

  .grid-main-container {
    display: grid;
    grid-template-columns: 6fr;
    /* height: 100vh;
    overflow: auto; */
    text-align: center;
  }
  .grid-main-content-container {
    top: 3%;
  }
  .links-grid-container {
    font-size: 1rem;
  }
  .links li {
    padding: 0.9rem;
  }
  .img2588-C61RwL {
    width: 35vw;
  }
  .sanitation {
    position: relative;
    top: 10%;
  }

  /* ------------Form Styles------------ */

  .email-sub {
    background-color: black;
    padding: 6em;
  }
}
@media (min-width: 2560px) {
  .container1 {
    height: 100vh;
  }

  .mike-von-qw9-fr-pj70-u-unsplash-C61RwL {
    width: 80vw;
  }

  .grid-main-container {
    display: grid;
    grid-template-columns: 6fr;
    /* height: 100vh;
    overflow: auto; */
    text-align: center;
  }
  .grid-main-content-container {
    top: 3%;
  }

  .textDescription {
    font-size: 1.4rem;
  }

  .blockTitle {
    font-size: 1.8rem;
  }

  .links-grid-container {
    font-size: 1.5rem;
  }
  .links li {
    padding: 0.9rem;
  }
  .img2588-C61RwL {
    width: 35vw;
  }
  .sanitation {
    position: relative;
    top: 10%;
  }

  /* ------------Form Styles------------ */

  .email-sub {
    background-color: black;
    padding: 7em;
  }

  /* Footer Styles */

  footer {
    font-size: 1.5rem;
  }
}
