/* ------------Global Styles------------ */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Overpass", sans-serif;
}

a,
button {
  text-decoration: none;
}

.container {
  padding: 1em 2em;
}

h1,
h2 {
  margin: 0em;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ------------Header Styles------------ */
header {
  box-shadow: 0px 2px 21px 0px rgb(227, 227, 227);
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav-arrow {
  margin-top: 1em;
  height: 10px;
}
.grid-nav-container {
  display: grid;
  grid-template-columns: 23% 54% 11.5% 11.5%;
  grid-template-rows: 50px;
}

.LOG-IN,
.SIGN-UP {
  color: rgba(231, 148, 42, 1);
  align-self: center;
  font-size: 0.7em;
}

.LOG-IN {
  text-align: left;
}
.SIGN-UP {
  text-align: right;
}

.brand-name {
  color: black;
  margin: 0 1em;
  font-size: 0.5em;
  font-weight: 900;
}

header div {
  padding: 0;
}

.profile-icon img,
.profile-icon {
  align-self: center;
  height: 2em;
  justify-self: end;
}

.logo {
  align-self: center;
}

/* ------------Drop Down Menu Styles Within Header------------ */
.navMenu a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.navMenu .dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: white;
  margin: 0;
  width: 100%;
}

.navMenu .dropdown-content {
  display: none;
}

.navMenu .dropdown-content a {
  color: #fff;
  text-decoration: none;
  background-color: white;
  color: rgb(121, 121, 121);
  font-weight: 600;
}

.navMenu .dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  justify-content: center;
  margin-top: 1em;
}

/* ------------Main Styles------------ */

.container1{
  background-image: url(../img/hero-pic@1x.png);

}

.user-links-ul a,
.second-column {
  color: rgb(100, 100, 100);
}

.title{
    color: rgb(100, 100, 100);
    font-weight: 600;
}

.card, .user-links-div, .user-info {
  background-color: white;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: left;
}
.user-links-div, .user-info, .card{
  padding: 5px 15px;
}
.card{
    margin-top: 0.7rem;
}

.card .btn{
    margin-top: 10px;
    background-color: blue;
    border-radius: 4px;
    color: white;
    padding: 6px;
}

.text-muted{
    color: black;
    font-size: 1.2rem;
    margin-top: 8px;
}
.form-control{
   border-radius: 4px;
   margin-top: 9px;
   border: 1px solid rgba(0, 0, 0, 0.3);
}


/* ------------Form Styles------------ */
.email-sub h2 {
  color: white;
}
form {
  width: 100%;
  position: relative;
}

label {
  color: white;
  font-weight: 600;
  font-size: 1em;
}

input {
  margin-top: 2em;
  border-radius: 30px;
  height: 4em;
  width: 100%;
}

::placeholder {
  padding-left: 1em;
  color: rgb(192, 192, 192);
  font-size: 0.8em;
}

.submit-btn {
  background-color: rgba(231, 148, 42, 1);
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
  height: 3.4em;
  float: right;
  right: 2px;
  margin: 2em 0.5em;
  position: absolute;
  top: 12px;
  border-style: none;
  font-weight: 600;
  font-size: 0.7em;
  width: 40%;
}

input:focus {
  outline: none;
}

/* ------------Footer Styles------------ */

footer {
  line-height: 1.5em;
}

footer .brand-name {
  font-size: 1em;
}

footer a,
footer p {
  font-size: 0.75em;
  text-decoration: none;
  color: rgb(100, 100, 100);
}

@media (max-width: 425px) {
  /* ------------Main Styles------------ */

  .container1 {
    height: 87vh;
    overflow: auto;
  }

  .grid-main-container {
    display: grid;
    grid-template-columns: 2fr;
    justify-content: space-between;
    column-gap: 2rem;
    padding: 1rem;
  }

  .user-info, .user-links{
    margin-top: 1rem;
  }

  .card{
    margin-bottom: 2rem;
  }

  /* .card, .user-info, .user-links{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  } */

  /* ------------Form Styles------------ */
  label {
    font-size: 1em;
  }

  input {
    margin-top: 2em;
    height: 4em;
  }

  .email-sub {
    background-color: black;
    padding: 3em;
  }
  ::placeholder {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  /* ------------Header Styles------------ */
  .grid-nav-container {
    display: grid;
    grid-template-columns: 8em 20em 4em 4em;
    justify-content: center;
  }

  .brand-name {
    font-size: 1em;
  }

  .navMenu .dropdown:hover .dropdown-content {
    grid-template-columns: 8em 8em 8em;
  }

  /* ------------Main Styles------------ */

  .container1 {
    height: 87vh;
    overflow: auto;
  }

  .grid-main-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    justify-content: space-between;
    column-gap: 2rem;
    padding: 1rem;
  }

  /* ------------Form Styles------------ */
  label {
    font-size: 2em;
  }

  input {
    margin-top: 2em;
    height: 4em;
  }

  .email-sub {
    background-color: black;
    padding: 7em;
  }
  ::placeholder {
    font-size: 1em;
  }

  /* ------------Footer Styles------------ */
  footer {
    text-align: left;
    padding: 9em;
  }
  footer .brand-name {
    margin: 0em;
    font-size: 1.5em;
  }
  .grid-footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .col-3 img {
    height: 10%;
  }
}

@media (min-width: 1024px) {
  /* ------------Main Styles------------ */
  .grid-main-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    column-gap: 2rem;
    padding: 1rem;
  }
}

@media (min-width: 1440px) {
}
@media (min-width: 2560px) {
  .grid-main-container {
    display: grid;
    grid-template-columns: 2fr 6fr;
  }
}
